body {
	background:#000 url('../img/bg.jpg') no-repeat;
}

h1, h2 {
		@include text;
	}
header {
	image-size:cover;
	height:100vh;
	grid-area: header;
	display:flex;
	flex-direction:column;
	justify-content:center;
	h2 {
		font-family:'Lora';
	}
}

.s1, .s2 {
	grid-area:s1;
	display:flex;
	justify-content:space-evenly;
	margin:2em;
	img {
		width:50%;
	}
	.text {
		margin:0 auto;
		display: flex;
		justify-content:center;
		flex-direction:column;
	}

}

s2 {
	grid-area:s2;
}